<script id="j-tmpl" type="text/template">
    <div class="product-item">
        <a href="/product/detail/{{=it.id}}">
            <img class="lazyload" src="http://b.thanksearch.com/ftpup/images/me/n2/deafault_img.png" _src="{{=it.img}}" width="300">
        </a>
        <div class="title">{{=it.title.substr(0,10)}}</div>
        <div class="detail">{{=it.title}}</div>
        <div class="price">
        	<span>{{=it.currency}} {{=it.price}}</span>
        	<a href="{{=it.link}}"><%= dictionary.checkitout %></a>
        </div>
    </div>
</script>