@import "../global.less";
@import "../reset.less";
@import "../header.less";

.detail-wrapper{
    .bgc(#ffffff);
    .detail-content{
        .pd(20px);
        .detail-img{
            .left();
            .mr(20px);
            img{
                .w(450px);
            }
        }
        .detail-title{
            .fs(18px);
            .fw();
            .mb(20px);
        }
        .detail-des{
            .fs(16px);
            .l(20px);
        }
        .detail-price{
            .fs(14px);
            .l(20px);
            .mt(20px);
            span{
                .fb();
            }
            a{
                .fc(#2F70A8);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .detail-share{
        .bgc(#EDF2F5);
        border-top: 1px solid #e3e3e3;
        .pd(5px 10px);
        .share{
            .left();
            span{
                .i_block();
                .w(60px);
                .h(40px);
                .pd(0 10px);
                .bgc(#4769A5);
            }
        }
        .price{
            .right();
            span{
                .right();
                .f(20px);
                .fb();
                .l(50px);
                .pr(10px);
            }
            a{
                .right();
                .bgc(#d9534f);
                .border-r();
                .pd(10px 16px);
                .f(18px);
                .fc(#ffffff);
                .fw(400);
                .right();
                .mt(5px);
                box-shadow:inset 0 -4px 0 rgba(0,0,0,0.2);
                &:hover{
                    .bgc(#c9302c);
                }
            }
        }
    }
    min-height:360px;
    box-shadow:0 2px 0 rgba(0,0,0,0.25);
    .mb(30px);
}


.comment{
    .bgc(#ffffff);
    .mh(140px);
    box-shadow:0 2px 0 rgba(0,0,0,0.25);
    .mb(30px);
    .w(1080px);
    .c();
    .fb-comments{

    }
}