@import "../global.less";
@import "../reset.less";
@import "../header.less";

.product-item{
	.w(340px);
	.bgc(#ffffff);
	.mb(35px);
	.title{
		.f(20px);
		.fb();
		.pd(5px 10px);
		.c();
	}
	
	.detail{
		.f(14px);
		.pd(10px);
		.l(20px);
		.break-all();
	}
	.price{
		.bgc(#EDF2F5);
		span{
			.f(20px);
			.fb();
			.l(40px);
		}
		a{
			.bgc(#428bca);
			.border-r();
			.pd(6px 12px);
			.f(14px);
			.fc(#ffffff);
			.fw(400);
			.right();
			.mt(5px);
			box-shadow:inset 0 -4px 0 rgba(0,0,0,0.15);
			&:hover{
				.bgc(#3071a9);
			}
		}
		border-top: 1px solid #e3e3e3;
		.pd(5px 10px);
	}
	img{
		.w(100%);
		.h(auto);
	}
	min-height:360px;
	box-shadow:0 2px 0 rgba(0,0,0,0.25);
}

