@import "../global.less";
body,div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p,img, blockquote, pre, form, fieldset, legend, input, button, textarea, hr,span {margin:0;padding:0;box-sizing:border-box;}
body{background:url('/images/pw_maze_white.png');width:100%;height:100%;color:#333;  font:12px/1.25 Arial,Helvetica,sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
li,ul,ol,dl,dd,dt{list-style: none;}
em,i {font-style:normal;}
h1,h2,h3,h4,h5,h6,b{ font-weight:100;}
fieldset,img{border: 0;}
img{vertical-align: top;}
input,button{outline:none;}
select, input{ vertical-align:middle; }
a{color: #333;cursor:pointer;text-decoration: none;}
a:hover{color: #bc2102;text-decoration: none;}
.clear{
	.clear();
}
.clearfix{
	.clearfix();
}

.header{
	.w(100%);
	.c();
}
.header h1{
	.f(18px);
}
.nav{
	.h(40px);
	.l(40px);
	.c();
	.mg(-40px auto 0);
}
.nav a{
	.i_block();
	.bgc(#141414);
	.fc(@white);
	.pd(0 15px);
	&.select{
		.bgc(#ddd);
		.fc(#333);
	}
	&:hover{
		.bgc(#313131);
		.fc(@white);
	}
}
.container{
	.w(100%);
	.auto();
}
.wrapper-outer{
	.auto();
	.w(1080px);
	.mt(30px);
	.hidden();
}
.wrapper-inner{
	.w(1180px);
}
.loading{
	.none();
	.c();
}
.list{
	.w(340px);
	.left();
	.mr(34px);
}
