<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="og:title" content="Workday Sets Price Range for I.P.O." />
	<meta property="og:url" content="http://www.myfavnews.com/2013/1/1/workday-price-range" />
	<meta property="og:description" content="Workday, a provider of cloud-based applications for human resources" />
	<meta property="og:image" content="<%= data.img %>" />
<link rel="stylesheet" href="/style/css/detail.css">
<script type="text/javascript">
	var product_id = '<%= id %>';
	var classType = '<%= type %>';
	var nation = '<%= nation %>';
</script>
</head>
<body>

<% include htm/header.htm %>

<% include htm/nav.htm %>

<div class="container">
	<div class="wrapper-outer">

		
		<div class="detail-wrapper">
			<div class="detail-content clearfix">
				<div class="detail-img"><img src="<%= data.img %>"></div>
				<div class="detail-title"><a href="<%= data.link %>"><%= data.title.substr(0, 50) %></a></div>
				<div class="detail-des"><a href="<%= data.link %>"><%= data.title %></a></div>
				<div class="detail-price"><span><%= data.currency %> <%= data.price %></span> · <a href="<%= data.link %>"><%= dictionary.buyproduct %></a></div>
			</div>

			<div class="detail-share clearfix">
				<div class="share"><%= dictionary.share %>
				<div class="share">
					<span class="fb-sharebtn"></span>
				</div>
				<div class="price">
		        	<a href="<%= data.link %>"><%= dictionary.checkitout %></a>
		        	<span><%= data.currency %> <%= data.price %></span>
		        </div>
			</div>
		</div>

		<div class="comment clearfix">
			<!-- comments plugins -->
			<!--<script id="facebook-jssdk" src="//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1610063652599063"></script>
			<fb:comments colorscheme="light" numposts="4" height="360px;" width="1080px" href="localhost:5051" fb-xfbml-state="rendered" class="fb_iframe_widget"></fb:comments>-->

			<div class="fb-comments" data-href="http://www.djl.com:5051/detail/<%= id %>" data-width="1080" data-numposts="5"></div>
		</div>
	</div>

</div>

<script type="text/javascript" src="/js/require.js" data-main="/js/min/detail"></script>

<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1610063652599063',
			xfbml      : true,
			version    : 'v2.0'
		});
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function fbShare(link,pic){
		var obj = {
			method:'feed',
			link:'',
			picture:'',
			name:'testName',
			caption:'testCaption',
			description:'testDes'

		};

		function callback(response){}
		FB.ui(obj,callback);
	}

	var clickCode = 'javascript:fbShare('+"'"+ '<%= data.img %>' +"'"+',' + "'" + '<%= data.img %>' + "'" +');return false;';

	window.onload = function(){
		$('.fb-sharebtn').attr("onclick",clickCode);
	}



</script>




</body>
</html>