<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/style/css/index.css">
<script type="text/javascript">
	var classType = '<%= type %>';
	var nation = '<%= nation %>';
</script>
</head>
<body>

<% include htm/header.htm %>

<% include htm/nav.htm %>

<div class="container clearfix">
	<div class="wrapper-outer">
		<div class="wrapper-inner clearfix" id="container" temId="j-tmpl">
			<div class="list"></div>
			<div class="list"></div>
			<div class="list"></div>
		</div>

		<div class="wrapper-inner loading"> Loading ... </div>
	</div>

</div>

<script type="text/javascript" src="/js/require.js" data-main="/js/min/index"></script>

<% include tpl/water_item.htm %>

</body>
</html>