<header class="header">
    <!-- <div class="header-top clearfix">
        <h1 class="header-title"><%= title %></h1>
        <ul class="hd-list">
            <li>
                <a href="">Newsletter</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="" class="border-n">Submit Stuff</a>
            </li>
        </ul>
    </div> -->

    <div class="header-bottom">
        <img src="/images/logo.png">
    </div>

</header>