<nav class="nav ajax-load" data-url="/api/data/nav/list/0" data-jsonp="jsoncallback" data-cacheTime="20" temId="j-tmpl-nav">
	<a href="/home"><%= dictionary.home %></a>
</nav>

<script id="j-tmpl-nav" type="text/template">
    {{ for (var i = 0, l = it.length; i < l; i++) { }}
    	<a href="/{{=it[i].cid}}">{{=it[i].language}}</a>
    {{ } }}
</script>
